##Configuration de lâ€™environnement Spark

In [32]:
from pyspark.sql import SparkSession

In [33]:
spark = SparkSession.builder \
    .appName("Prediction") \
    .getOrCreate()

In [34]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x000001E7884F0440>

In [35]:
path = r"C:\Users\aamir\Desktop\YC\P\ChurnPrediction\src\infrastructure\data\dataset-68f599a4c9b84581895311-6907667a3f0be705109390.csv"

data = spark.read.csv(path, header=True, inferSchema=True)

data.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [36]:
data.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [40]:
num_columns =["RowNumber","CustomerId","CreditScore","Age","Tenure","Exited","EstimatedSalary","IsActiveMember","HasCrCard","NumOfProducts","Balance"];
obj_columns = ["Gender", "Geography", "Surname"]

data.select(obj_columns).describe().show()

+-------+------+---------+-------+
|summary|Gender|Geography|Surname|
+-------+------+---------+-------+
|  count| 10000|    10000|  10000|
|   mean|  NULL|     NULL|   NULL|
| stddev|  NULL|     NULL|   NULL|
|    min|Female|   France|  Abazu|
|    max|  Male|    Spain| Zuyeva|
+-------+------+---------+-------+

In [41]:
data.select(num_columns).describe().show()

+-------+------------------+-----------------+-----------------+------------------+------------------+-------------------+-----------------+-------------------+-------------------+------------------+-----------------+
|summary|         RowNumber|       CustomerId|      CreditScore|               Age|            Tenure|             Exited|  EstimatedSalary|     IsActiveMember|          HasCrCard|     NumOfProducts|          Balance|
+-------+------------------+-----------------+-----------------+------------------+------------------+-------------------+-----------------+-------------------+-------------------+------------------+-----------------+
|  count|             10000|            10000|            10000|             10000|             10000|              10000|            10000|              10000|              10000|             10000|            10000|
|   mean|            5000.5|  1.56909405694E7|         650.5288|           38.9218|            5.0128|             0.2037|100090.2398809998|             0.5151|             0.7055|            1.5302|76485.88928799961|
| stddev|2886.8956799071675|71936.18612274907|96.65329873613035|10.487806451704587|2.8921743770496837|0.40276858399486065|57510.49281769821|0.49979692845891815|0.45584046447513327|0.5816543579989917|62397.40520238599|
|    min|                 1|         15565701|              350|                18|                 0|                  0|            11.58|                  0|                  0|                 1|              0.0|
|    max|             10000|         15815690|              850|                92|                10|                  1|        199992.48|                  1|                  1|                 4|        250898.09|
+-------+------------------+-----------------+-----------------+------------------+------------------+-------------------+-----------------+-------------------+-------------------+------------------+-----------------+

In [ ]:
from pyspark.sql.functions import col, count, when, trim, isnan
from pyspark.sql.types import FloatType, DoubleType, DecimalType

null_counts = []
for c in data.columns:
    dtype = next(f.dataType for f in data.schema.fields if f.name == c)

    if isinstance(dtype, (FloatType, DoubleType, DecimalType)):
        cond = col(c).isNull() | isnan(col(c))
    else:
        cond = col(c).isNull() | (trim(col(c)) == "")
        
    null_counts.append(count(when(cond, c)).alias(c))

nulldata = data.select(null_counts)
nulldata.show()

+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|Surname|CreditScore|Geography|Gender|Age|Tenure|Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|        0|         0|      0|          0|        0|     0|  0|     0|      0|            0|        0|             0|              0|     0|
+---------+----------+-------+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+

In [51]:
for c in num_columns:
    qa = data.approxQuantile(c, [0.25, 0.75], 0.01)  
    q1, q3 = qa[0], qa[1]
    iqr = q3 - q1
    print(f"Q1: {q1}, Q3: {q3}, IQR: {iqr}")

Q1: 2496.0, Q3: 7408.0, IQR: 4912.0
Q1: 15628303.0, Q3: 15750929.0, IQR: 122626.0
Q1: 584.0, Q3: 714.0, IQR: 130.0
Q1: 32.0, Q3: 44.0, IQR: 12.0
Q1: 2.0, Q3: 7.0, IQR: 5.0
Q1: 0.0, Q3: 0.0, IQR: 0.0
Q1: 50906.65, Q3: 147342.03, IQR: 96435.38
Q1: 0.0, Q3: 1.0, IQR: 1.0
Q1: 0.0, Q3: 1.0, IQR: 1.0
Q1: 1.0, Q3: 2.0, IQR: 1.0
Q1: 0.0, Q3: 126615.94, IQR: 126615.94