In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

file_path = r"C:\Users\aamir\Desktop\YC\P\ChurnPrediction\src\infrastructure\data\dataset-68f599a4c9b84581895311-6907667a3f0be705109390.csv"

df = spark.read.csv(file_path,header=True,inferSchema=True)
df.show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

In [5]:
dublucatedata =  df.groupBy(df.columns).count()

dublucatedata.show()

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+-----+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|count|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+-----+
|       79|  15575185|   Bushell|        757|    Spain|  Male| 33|     5| 77253.22|            1|        0|             1|      194239.63|     0|    1|
|      396|  15807432|     Cheng|        645|  Germany|Female| 37|     2|136925.09|            2|        0|             1|      153400.24|     0|    1|
|      503|  15714485|   Udinese|        774|   France|  Male| 60|     5| 85891.55|            1|        1|             0|       74135.48|     1|    1|
|      746|  15640059|     Smith|        606|   France|  Male| 40|     5|      0.0|            2|        1|             1|       70899.27|     0|    1|
|      927|  15628303|  Thurgood|        738|    Spain|  Male| 35|     3|      0.0|            1|        1|             1|       15650.73|     0|    1|
|     1448|  15697311|Nebechukwu|        697|    Spain|  Male| 56|     5|110802.03|            1|        1|             1|       50230.31|     1|    1|
|     2028|  15606613|    Samson|        655|   France|Female| 59|     7|      0.0|            1|        1|             0|       88958.49|     1|    1|
|     2248|  15785485|      Zhou|        595|  Germany|Female| 41|     2|138878.81|            1|        0|             1|      112269.67|     0|    1|
|     2982|  15711218|     Parry|        616|  Germany|  Male| 39|     2|121704.32|            2|        1|             0|        55556.3|     0|    1|
|     3746|  15808334|    Mackay|        776|  Germany|Female| 37|     1| 93124.04|            2|        1|             1|      196079.32|     0|    1|
|     3801|  15685314|     Noble|        850|   France|Female| 28|     2|      0.0|            2|        1|             1|       38773.74|     0|    1|
|     3914|  15732266|     Field|        553|  Germany|  Male| 53|     5|127997.83|            1|        1|             0|      165378.66|     1|    1|
|     4190|  15759499|  Gardiner|        598|   France|Female| 32|     4|111156.52|            1|        1|             1|      167376.26|     0|    1|
|     4277|  15623478|   Maslova|        670|  Germany|Female| 32|     4|102954.68|            2|        0|             1|      134942.45|     0|    1|
|     4651|  15664214|     Hearn|        670|   France|  Male| 33|     2|141204.65|            2|        1|             0|       76257.46|     0|    1|
|     4827|  15713346|    Panina|        794|   France|  Male| 24|    10|146126.75|            1|        1|             1|       88992.05|     0|    1|
|     5021|  15669589|      Page|        491|  Germany|Female| 68|     1| 95039.12|            1|        0|             1|      116471.14|     1|    1|
|     5091|  15642709|      Feng|        474|   France|Female| 30|     9|      0.0|            2|        0|             0|       63158.22|     0|    1|
|     5300|  15792989|   Bianchi|        543|   France|Female| 71|     1|104308.77|            1|        1|             1|       25650.04|     0|    1|
|     5600|  15635870|       She|        579|  Germany|Female| 50|     5|117721.02|            1|        0|             1|      192146.63|     1|    1|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+-----+
only showing top 20 rows

In [6]:
supp_column = ["RowNumber","CustomerId","Surname"]

df_supp = df.drop(*supp_column)

print("data is deleted succ ")
df_supp.show()

data is deleted succ
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [7]:
df.filter(df.Balance==0).count()

3617

In [8]:
	
from pyspark.ml.feature import StringIndexer
from pyspark.sql.functions import col

indexer_gender = StringIndexer(inputCol="gender", outputCol="gender_num")
df_indexed = indexer_gender.fit(df).transform(df)

indexer_geo = StringIndexer(inputCol="Geography", outputCol="GeographyIndex")
df_indexed = indexer_geo.fit(df_indexed).transform(df_indexed) 

df_final = df_indexed.withColumn("Geography_France", (col("GeographyIndex") == 0).cast("int")) \
.withColumn("Geography_Germany", (col("GeographyIndex") == 1).cast("int")) \
.withColumn("Geography_Spain", (col("GeographyIndex") == 2).cast("int")) \
.drop("gender", "Geography", "GeographyIndex") \
.withColumnRenamed("gender_num", "gender")

df_final.show()
df_final.printSchema()

+---------+----------+---------+-----------+---+------+---------+-------------+---------+--------------+---------------+------+------+----------------+-----------------+---------------+
|RowNumber|CustomerId|  Surname|CreditScore|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|gender|Geography_France|Geography_Germany|Geography_Spain|
+---------+----------+---------+-----------+---+------+---------+-------------+---------+--------------+---------------+------+------+----------------+-----------------+---------------+
|        1|  15634602| Hargrave|        619| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|   1.0|               1|                0|              0|
|        2|  15647311|     Hill|        608| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|   1.0|               0|                0|              1|
|        3|  15619304|     Onio|        502| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|   1.0|               1|                0|              0|
|        4|  15701354|     Boni|        699| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|   1.0|               1|                0|              0|
|        5|  15737888| Mitchell|        850| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|   1.0|               0|                0|              1|
|        6|  15574012|      Chu|        645| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|   0.0|               0|                0|              1|
|        7|  15592531| Bartlett|        822| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|   0.0|               1|                0|              0|
|        8|  15656148|   Obinna|        376| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|   1.0|               0|                1|              0|
|        9|  15792365|       He|        501| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|   0.0|               1|                0|              0|
|       10|  15592389|       H?|        684| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|   0.0|               1|                0|              0|
|       11|  15767821|   Bearce|        528| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|   0.0|               1|                0|              0|
|       12|  15737173|  Andrews|        497| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|   0.0|               0|                0|              1|
|       13|  15632264|      Kay|        476| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|   1.0|               1|                0|              0|
|       14|  15691483|     Chin|        549| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|   1.0|               1|                0|              0|
|       15|  15600882|    Scott|        635| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|   1.0|               0|                0|              1|
|       16|  15643966|  Goforth|        616| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|   0.0|               0|                1|              0|
|       17|  15737452|    Romeo|        653| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|   0.0|               0|                1|              0|
|       18|  15788218|Henderson|        549| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|   1.0|               0|                0|              1|
|       19|  15661507|  Muldrow|        587| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|   0.0|               0|                0|              1|
|       20|  15568982|      Hao|        726| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|   1.0|               1|                0|              0|
+---------+----------+---------+-----------+---+------+---------+-------------+---------+--------------+---------------+------+------+----------------+-----------------+---------------+
only showing top 20 rows
root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)
 |-- gender: double (nullable = false)
 |-- Geography_France: integer (nullable = false)
 |-- Geography_Germany: integer (nullable = false)
 |-- Geography_Spain: integer (nullable = false)

In [10]:
df_final.toPandas().to_csv("../src/infrastructure/data/clean_data.csv", index=False)